<section class="box login-form">

<h2 class="Yellowtail">Sign Up</h2>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" id="username-signup" type="username" placeholder="Username">
    <span class="icon is-small is-left">
      <i class="far fa-id-badge"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" id="password-signup" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="signup-form field">
  <p class="control m-2">
    <button id="signUpButton" type="submit" class="button is-success">
      Sign Up
    </button>
  </p>
    <a href="/login" type="submit" class="button is-info">
      Already have an Account? Log In Here!
    </a>
</div>
</section>
<script src="/js/signup.js"

